<h3>Selected parts of cookie</h3>
<ul>
    <li>Base: {{cookie.base}} - {{pricify (findPrice bases cookie.base)}} PLN</li>
    {{#each cookie.addons}}
    {{!--  Za dużo tych różnych addonsów i się z numi hdb gubi. Tak wskazujemy, że chodzi 
    nam o addonsy z kontekstu głównego: @root.addons  --}}
        <li>Addon: {{this}} - {{pricify (findPrice @root.addons this)}} PLN</li>
    {{/each}}
</ul>
<p><strong>Total of {{pricify sum}} PLN</strong></p>