<h1>Hello, World</h1>
<h2>Object: {{ firstName }}</h2>
<p>Age: {{ person.age }}</p>
<p>Sex: {{ person.sex }}</p>

{{!-- Destrukturyzacja --}}

{{#with person}}
    <p>Age: {{ age }}</p>
    <p>Sex: {{ sex }}</p>
{{/with}}


{{!-- Wyświetlanie z pętli.
This będzie tu oznaczał pojedynczy element --}}

<ul>
{{#each dates}}
    <li>{{this}}</li>
{{/each}}
</ul>