<h1>Configure Your cookie</h1>

<h2>{{upper "Select cookie base"}}</h2>
{{findPrice addons "honey"}}

{{#each bases}}
{{!-- this.0 jest specyficzne dla hbs. Chcemy się dostać po 
indeksie do tablicy --}}
    <a href="/configurator/select-base/{{this.[0]}}">Select {{this.[0]}} for {{this.[1]}} PLN</a> 
{{/each}}

<h2>{{upper "Select your favorite addons"}}</h2>
{{#each addons}}
{{!-- this.0 jest specyficzne dla hbs. Chcemy się dostać po 
indeksie do tablicy --}}
    {{#if (isNotInArray @root.cookie.addons this.[0])}}
        <a href="/configurator/add-addon/{{this.[0]}}">Select {{this.[0]}} for {{this.[1]}} PLN</a> 
    {{/if}}
{{/each}}

{{>cookie-preview}}
{{>addons}}
<a href="/order/summary"><img alt="" class="cart" src="/assets/images/shopping-cart.png"/>Order now!</a>