<h1>Configure Your cookie</h1>

<h2>{{upper "Select cookie base"}}</h2>
{{findPrice addons "honey"}}

{{#each bases}}
{{!-- this.0 jest specyficzne dla hbs. Chcemy się dostać po 
indeksie do tablicy --}}
    <a href="/configurator/select-base/{{this.[0]}}">Select {{this.[0]}} for {{this.[1]}} PLN</a> 
{{/each}}

<h2>{{upper "Select your favorite addons"}}</h2>
{{#each addons}}
{{!-- this.0 jest specyficzne dla hbs. Chcemy się dostać po 
indeksie do tablicy --}}
    <a href="/configurator/add-addon/{{this.[0]}}">Select {{this.[0]}} for {{this.[1]}} PLN</a> 
{{/each}}

{{>cookie-preview}}
{{>addons}}